:root {
    --orange-color: #DA722C;
    --ice-color: #E8F7FB;
    --blue-color: #057ADA;
    --deep-blue-color: #023047;
    --black-blue-color: #070917;
    --purple-blue-color: #6F7DFB;
}
/* End Colors */

.btn {
    padding: 12px 32px;
    border-radius: 24px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.mobile-btn {
    display: none;
}

.dark {
    background: var(--deep-blue-color);
}

.light {
    background: var(--orange-color);
}
/* End Buttons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: linear-gradient(180deg, #6F7DFB 0%, #414DB5 62.78%, #26308C 100%);
}

section {
    height: 100vh;
}

.wrapper {
    width: 1130px;
    height: 100vh;
    margin: 0 auto;
}
/* End General Configs */

nav.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 100;
    width: 1130px;
    height: 59px;
    margin-top: 40px;
}

nav.header-nav .logo {
font-family: "Raleway", sans-serif;
font-weight: 900;
font-size: 40px;
line-height: 47px;
}

ul.links-header {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 59px;
}

ul.links-header li {
    list-style: none;
    padding: 0px 15px;
}

ul.links-header li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
/* End Nav Bar Header */

.hero-section {
    height: 100vh;
    display: flex;
    position: relative;
}

.hero-section .left {
    width: 457px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
}

.hero-section .left h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
}

.hero-section .left p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    margin-top: 19px;
    margin-bottom: 30px;
}

.hero-section .right {
    position: absolute;
    bottom: -4px;
    right: 0px;
}

.hero-section .right img {
    height: 480px;
}

.hero-section .achievement-cards .achievement-card {
    color: var(--deep-blue-color);
    background-color: #FFFFFF;
    text-align: center;
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);;
    border-radius: 24px;
    height: 90px;
}

.hero-section .achievement-cards .achievement-card .content .content-title {
    display: flex;
    justify-content: center;
}

.hero-section .achievement-cards .achievement-card h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.hero-section .achievement-cards .achievement-card p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.hero-section .achievement-cards .students-enrolled {
    position: absolute;
    width: 206px;
    top: 42%;
    left: 45%;
}

.hero-section .achievement-cards .overall-rating {
    position: absolute;
    width: 183px;
    top: 74%;
    left: 42%;
}
/* End Hero Section */

.testimonials-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-section .left {
    width: 564px;
    height: 546px;
    position: relative;
}

.testimonials-section .left .testimonial-card {
    width: 442px;
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 10px 10px 25px lightblue;
    position: absolute;
    top: 8%;
    left: 0%;
}

.testimonials-section .left .testimonial-card:last-child {
    background: #FFFFFF;
    border-radius: 24px;
    position: absolute;
    top: 58%;
    left: 8%;
}

.testimonials-section .left .testimonial-card .content {
    padding: 24px 32px;
    gap: 10px;
    border-radius: 24px;
}

.testimonials-section .left .testimonial-card .blue {
    background-color: var(--purple-blue-color);
}

.testimonials-section .left .testimonial-card .orange {
    background-color: var(--orange-color);
}

.testimonials-section .left .testimonial-card .content h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.testimonials-section .left .testimonial-card .info {
    position: relative;
    padding: 30.5px 32px;
    margin: auto 0;
}

.testimonials-section .left .testimonial-card .info h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: var(--deep-blue-color);
}

.testimonials-section .left .testimonial-card .info p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--deep-blue-color);
}

.testimonials-section .left .testimonial-card .info img {
    height: 120px;
    position: absolute;
    right: 30px;
    top: -10px;
}

.testimonials-section .right {
    width: 559px;
    height: 377px;
}

.testimonials-section .right h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: var(--deep-blue-color);
}

.testimonials-section .right .features {
    margin-top: 19px;
    margin-bottom: 30px;
}

.testimonials-section .right .features p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--deep-blue-color);
}
/* End Testimonial Section */

.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
}

.courses-section .wrapper h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 56px;
}

.courses-section .wrapper .course-cards {
    display: flex;
    justify-content: space-between;
}

.courses-section .wrapper .course-cards .course-card {
    width: 526px;
    height: 418px;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.courses-section .wrapper .course-cards .course-card img {
    height: 270px;
    width: 462px;
}

.courses-section .wrapper .course-cards .course-card .info {
    height: 90px;
    width: 462px;
    margin-top: 30px;
    margin-bottom: 38px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.courses-section .wrapper .course-cards .course-card .info h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--deep-blue-color);
    width: 374px;
}

.courses-section .wrapper .course-cards .course-card .info .duration {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: var(--deep-blue-color);
}

.courses-section .wrapper .course-cards .course-card .underline-course {
    content: '';
    width: 462px;
    height: 8px;
    background-color: var(--deep-blue-color);
    border-radius: 24px;
    position: absolute;
    bottom: 0px;
}

.courses-section .wrapper .btn {
    margin-top: 45px;
    right: 141.5px;
    position: absolute;
}